#Author: Madhusudhanan Balasubramanian (MB), Ph.D., The University of Memphis
MODEL:
  META_ARCHITECTURE: "GeneralizedRCNN"
  BACKBONE:
    NAME: "build_fcos_vovnet_fpn_backbone"
    FREEZE_AT: 0
  VOVNET:
    OUT_FEATURES: ["stage3", "stage4", "stage5"]
  FPN:
    IN_FEATURES: ["stage3", "stage4", "stage5"]
  PROPOSAL_GENERATOR:
    NAME: "FCOS"  
  FCOS:
    IN_FEATURES: ["p3", "p4", "p5", "p6", "p7"]
    FPN_STRIDES: [8, 16, 32, 64, 128]
    #SIZES_OF_INTEREST: [(4, 64), (64, 128), (128, 256), (256, 512), (512, 1e8)]
    #SIZES_OF_INTEREST: [4, 64, 128, 256, 512]
    #SIZES_OF_INTEREST: [16, 32, 64, 128, 256, 512, 1e8]
    #SIZES_OF_INTEREST: [15, 30, 45, 60]; AP-Live 10%; AP-Necrotic 10% 
    #SIZES_OF_INTEREST: [32, 128, 512, 2048]
    #SIZES_OF_INTEREST: [24, 128, 512, 2048]
    SIZES_OF_INTEREST: [32, 256, 512, 2048]
    #
    POST_NMS_TOPK_TEST: 600 #1000 #Max number of detections per image
    POST_NMS_TOPK_TRAIN: 600 #2000
    PRE_NMS_TOPK_TEST: 1200
    PRE_NMS_TOPK_TRAIN: 1200 #600 
    #INFERENCE_TH_TEST: 0.7 #0.05 #Threshold to filter predictions with (confidence score)
    INFERENCE_TH_TRAIN: 0.3 #0.05 #Threshold to filter predictions with (confidence score)
    INFERENCE_TH_TEST: 0.7
    NMS_TH: 0.3 #0.6 #Threshold to filter out proposals with low confidence score
    NUM_CLASSES: 2 #number of foreground classes
    PRIOR_PROB: 0.005 #0.01 default
  PIXEL_MEAN: [150.9695, 150.9695, 150.9695]
  PIXEL_STD: [65.8090, 65.8090, 65.8090]
  #RPN:
    #PRE_NMS_TOPK_TRAIN: 2000
  #  POST_NMS_TOPK_TRAIN: 900
    #PRE_NMS_TOPK_TEST: 1000
  #  POST_NMS_TOPK_TEST: 900
  #  BATCH_SIZE_PER_IMAGE: 900 #256
  MASK_ON: True
  MASKIOU_ON: True
  ROI_HEADS:
    NAME: "CenterROIHeads"
    NUM_CLASSES: 2 #number of foreground classes
    IN_FEATURES: ["p3", "p4", "p5"]
    BATCH_SIZE_PER_IMAGE: 600 #300 - UPTO 30K ITNS #250
    POSITIVE_FRACTION: 0.5 #FROM 30K ITNS #0.25
  ROI_MASK_HEAD:
    NAME: "SpatialAttentionMaskHead"
    ASSIGN_CRITERION: "ratio"
    NUM_CONV: 4
    POOLER_RESOLUTION: 14
DATASETS:
  TRAIN: ("Phase3_Training",) #must match with DatasetCatalog.register() call
  TEST: ("Phase3_Validation",)
SOLVER:
  CHECKPOINT_PERIOD: 1000 #Saves a checkpoint / model after this number of iterations
  IMS_PER_BATCH: 3 #16 #training images/step
  BASE_LR: 0.01  # Note that RetinaNet uses a different default learning rate
  GAMMA: 0.1
  MOMENTUM: 0.7
  WEIGHT_DECAY: 0.0005
  STEPS: (50000, 60000) #, 30000, 35000, 40000, 45000, 50000, 55000) #Iteration number at which the learning rate will be decreased by SOLVER.GAMMA amount
  MAX_ITER: 40000 #Total number of training iterations
  CLIP_GRADIENTS:
    CLIP_TYPE: norm
    CLIP_VALUE: 10.0
    ENABLED: True
    NORM_TYPE: 2.0
INPUT:
  MIN_SIZE_TRAIN: (768, 1024) #size of the smallest side of the image during training
  MIN_SIZE_TEST: 1024
  #MIN_SIZE_TRAIN: (256,)
TEST:
  DETECTIONS_PER_IMAGE: 600
  EVAL_PERIOD: 1000